@{
    ViewData["Title"] = "Home Page";
    string currentFilter = ViewData["CurrentFilter"] as string;
}

@model IEnumerable<WebApplication1.Models.Contacts>

<body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Найти:</label>
        <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<h2>Список пользователей</h2>
<p><a asp-action="Create">Добавить пользователя</a></p>
<table>
    <tr><th>Имя</th><th>Номер</th><th>email</th><th>адрес</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td><b> @item.Name</b></td>
            
            <td>__<b>@item.Number</b></td>
            <td>__<b>@item.Mail</b></td>
            <td>__<b>@item.Addres</b></td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
        
    }

</table>
</body>
